<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-9 footer-col">
<!--        <div class="logofooter">Комп'ютерна техніка</div>-->
               <h6 class="heading7">Комп'ютерна техніка</h6>

        <p>Якісний товар за розумними цінами</p>
        <p><i class="fa fa-map-pin"></i> #228, Львів, Україна</p>
        <p><i class="fa fa-phone"></i> Тел: +91 9999 999 999</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@ideveloper.com</p>
        
      </div>
<!--
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
-->
      <div class="col-md-4 col-sm-8 footer-col">
        <h6 class="heading7">Останні оновлення</h6>
        <div class="post">
          <p>В наявності нові моделі Samsung<span>Серпень 16,2017</span></p>
           <p>Ремонт системних блоків<span>Серпень 16,2017</span></p>
          <p>Нова модель Lenovo<span>Серпень 16,2017</span></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-7 footer-col">
        <h6 class="heading7">Ми у соц мережах</h6>
     <ul class="menu">
        <li class="menu__item">
            <a href="#" class="menu__link facebook"></a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link twitter"></a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link google"></a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link linkedin"></a>
        </li>
    </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-12">
      <p>© 2017 - Всі права захищені</p>
<!--    </div>-->
<!--    <div class="col-md-10">-->
      <ul class="bottom_ul">
        <li><a href="#/home">Головна</a></li>
        <li><a href="#/contactUs">Контакти</a></li>
        <li><a href="#/shop">Магазин</a></li>
        <li><a href="#/sugges">Відгуки</a></li>
      </ul>
    </div>
  </div>
</div>