<div class="container" style="width:100%">
    <div class="row">
        
<img src="images/notebook-and-mouse-cursor.png" alt=""> 
<ul class="menuHeader">            
    <li><a href="#/home">ГОЛОВНА</a></li>            
    <li><a href="#/contactUs">КОНТАКТИ</a></li>            
    <li><a href="#/shop">МАГАЗИН</a></li>
    <li><a href="#/sugges">ВІДГУКИ</a></li> 
</ul>                                                                                                         

<a href="#/admin"><button class="btn_admin">увійти як адмін</button></a>
  <a class="chart" href="#/product" style="padding-top:0%;"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  {{count}}</a>
   </div>
</div>