*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans';
}
.header{
    width: 100%;
    background: rgba(4, 4, 66, 0.9);
    color: white;
    height: 300px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.but_edit{
    background:rgba(49, 49, 130, 0.9);
	display: inline-block;
    border-radius: 50%;
    font-size: 25px;
	height: 40px;
    outline: none;
    border: none;
	cursor: pointer;
	position: relative;
	width: 40px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
    color: white;
}
.but_edit:hover{
    background-color: rgba(4, 4, 66, 0.9);
}
.btn_plus{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    margin-top: 5px;
}
.button4 {
  font-size: 3em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  padding: .2em 0.5em;
  outline: none;
  border: none;
  border-radius: 50px;
  background: rgba(13, 13, 89, 0.89);
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  left: 40px;
}
.button4:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
.button4:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
.buttonDelete{
    background:rgba(49, 49, 130, 0.9);
	display: inline-block;
    border-radius: 50%;
    font-size: 25px;
	height: 40px;
    outline: none;
    border: none;
	cursor: pointer;
	position: relative;
	width: 40px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
    color: white;
}
.buttonDelete:hover{
    background-color: rgba(4, 4, 66, 0.9);
}
.buttonPurple {
    background:rgba(49, 49, 130, 0.9);
	display: inline-block;
    border-radius: 50%;
	height: 90px;
    outline: none;
    border: none;
	cursor: pointer;
	position: relative;
	width: 90px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
    color: white;
}
.buttonPurple:hover  { 
    color:rgba(49, 49, 130, 0.9);
    background-color:white; 
}
.buttonBack{
    margin: 0 50px;
}
h1{
    margin-left: 50px;
    font-size: 50px;
}
h2{
    font-size: 40px;
}
li{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100px;
    font-size: 25px;
}
li:hover{
    background: rgba(74, 74, 226, 0.38);;
}
.inputCreate{
    width: 85%;
    height: 75px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1.5px solid #000000;
    font-size: 40px;
    margin: 25px 35px 0 25px;
    padding-left: 15px;
    color:rgba(0, 0, 0, 0.8);
}
::-webkit-input-placeholder {color:rgba(0, 0, 0, 0.8);}
.home_item_name{
    width: 50%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 34px;
}
.home_item_name:hover{
    color: rgba(16, 16, 134, 0.99);
}
.comment_name{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 34px;
}
.comment_name:hover{
    white-space:normal;
}
.add_comment{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}
.fa-long-arrow-left{
    font-size: 40px;
}
.fa-comment{
    color: rgba(4, 4, 66, 0.9);
}
.home_number_comments{
    font-size: 20px;
    color: rgba(4, 4, 66, 0.9);
    position: relative;
    top: -15px;
    left: 5px;
}
.date_created{
    font-size: 20px;
    color: dimgray;
    font-style: italic;
}
#newColor{
    font-size: 50px;
    font-weight: bold;
}
#newColor2{
    font-size: 50px;
    font-weight: bold;
}
#newColor:hover{
    background-color: rgba(4, 4, 66, 0.9);
    color: white;
}
#newColor2:hover{
    background-color: rgba(4, 4, 66, 0.9);
    color: white;
}
#newColor3{
    font-size: 50px;
    font-weight: bold;
}
#newColor3:hover{
    background-color: rgba(4, 4, 66, 0.9);
    color: white;
}