*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans';
}
.header{
    width: 100%;
    background: rgba(4, 4, 66, 0.9);
    color: white;
    height: 200px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
.header_span{
    font-size: 20px;
    display: block;
}
.but_edit{
    background:rgba(49, 49, 130, 0.9);
	display: inline-block;
    border-radius: 50%;
    font-size: 25px;
	height: 40px;
    outline: none;
    border: none;
	cursor: pointer;
	position: relative;
	width: 40px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
    color: white;
}
.but_edit:hover{
    background-color: rgba(4, 4, 66, 0.9);
}
.btn_plus{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    margin-top: 50px;
}
.button4 {
  font-size: 70px;
  font-weight: 700;
  color: rgb(241, 164, 197);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 50px;
  background: rgb(212, 28, 106);
  left: 40px;
  box-shadow: 1px 1px 6px 1px rgb(50,50,50);
}
.button4:hover {
    cursor: pointer;
    background: rgb(193, 17, 91);
    color: rgb(241, 182, 207);
}
.buttonDelete{
    background:rgb(212, 28, 106);
    font-size: 25px;
	min-height: 100px;
    width: 200px;
    outline: none;
    border: none;
	cursor: pointer;
	position: relative;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
    color: white;
}
.buttonDelete:hover{
    background-color: rgba(4, 4, 66, 0.9);
}
.buttonPurple {
    background:rgba(49, 49, 130, 0.9);
	display: inline-block;
    border-radius: 50%;
	height: 90px;
    outline: none;
    border: none;
	cursor: pointer;
	position: relative;
	width: 90px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
    color: white;
}
.buttonPurple:hover  { 
    color:rgba(49, 49, 130, 0.9);
    background-color:white; 
}
.buttonBack{
    margin: 0 50px;
}
h1{
    margin-left: 50px;
    font-size: 60px;
}
h2{
    font-size: 40px;
}
li{
    display: inline-flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    min-height: 100px;
    font-size: 25px;
    border-bottom: 1px solid #dedede;
}
.inputCreate{
    width: 85%;
    height: 75px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1.5px solid #000000;
    font-size: 40px;
    margin: 25px 35px 0 25px;
    padding-left: 15px;
    color:rgba(0, 0, 0, 0.8);
}
::-webkit-input-placeholder {color:rgba(0, 0, 0, 0.8);}
.home_item_name{
    width: 70%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    margin-right: 20%;
    margin-left: 20px;
    flex-wrap: wrap;
    text-align: left;
    font-size: 40px;
}
.home_item_name:hover{
    color: rgba(16, 16, 134, 0.99);
}
.comment_name{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 34px;
}
.comment_name:hover{
    white-space:normal;
}
.add_comment{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}
.fa-long-arrow-left{
    font-size: 40px;
}
.home_number_comments{
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(4, 4, 66, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.item li{
    margin: 25px 0;
    border-bottom: 1px solid #dedede;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-around;
}
.item_block{
    width: 90px;
    height: 90px;
    background-color: rgba(4, 4, 66, 0.9);
    margin-left: 20px;
}
.striped div{
    background-color: rgba(172, 110, 183, 0.9);
}
.item li:last-child{
    margin-bottom: 100px;
}
.showDelete{
    width: 2%;
    background-color: rgb(212, 28, 106);
    min-height: 100px;
}
.add_comment_item{
    width: 100%;
    height: 80px;
    padding: 5px;
    background-color: #eaeaea;
    position: fixed;
    bottom: 0%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.inputComment{
   height: 60px;
   width: 85%;
   margin: 30px;
    padding-left: 10px;
    font-size: 25px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    border:1px solid #BEBEBE;
}
.comment_buttonPurple{
    height: 60px;
    border-radius: 50%;
    width: 60px;
    color: white;
    background-color: rgba(4, 4, 66, 0.9);
    position: relative;
    border: none;
    font-size: 40px;
    margin-right: 10px;
}
.comment_buttonPurple:hover{
    background-color:rgba(49, 49, 130, 0.9);
}
#newColor{
    font-size: 50px;
    font-weight: bold;
}
#newColor:hover{
    background-color: rgba(4, 4, 66, 0.9);
    color: white;
}
#newColor3{
    font-size: 50px;
    font-weight: bold;
}
#newColor3:hover{
    background-color: rgba(4, 4, 66, 0.9);
    color: white;
}