<div class="create_item">
    <div class="header">
       <a href="#/home"><button class="buttonPurple buttonBack"><i class="fa fa-arrow-left" aria-hidden="true"></i></button></a>
       <h2>Create item</h2>
    </div>
    <div class="add_comment">
        <input type="text" class="inputCreate" placeholder="create new item" ng-model='createItem.newItem'>
        <button ng-click='createItem.create_new_item()' class="buttonPurple"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>  
    </div>
</div>