<div class="item">
    <div class="header">
        <a href="#/home"><button class="buttonPurple buttonBack"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button></a>
        <h2>{{item.current_item.name}}</h2>
    </div>
    <ul>
        <li class="odd_even" ng-repeat='key in item.current_item.comments track by $index' ng-swipe-right="item.removeComment(key.comment_id, $index)" ng-class-even="'striped'">
            <div class="item_block"></div>
            <span class="comment_name">{{key.text}}</span>
        </li>
    </ul>
    <div class="add_comment_item">
        <input type="text" class="inputComment" placeholder="New comment goes here.." ng-model='item.comment_text'>
        <button ng-click='item.add_comment()' class="comment_buttonPurple" id="newColor2">></button>
    </div>
</div>